<div class="row">
  <div class="medium-10 medium-offset-1 columns">
    <%= simple_form_for @personal do |f| %>
    <div class="row">
      <%= f.input :first_name, wrapper_html: { class: 'medium-4 columns'} %>
      <%= f.input :middle_name, wrapper_html: { class: 'medium-4 columns'} %>
      <%= f.input :last_name, wrapper_html: { class: 'medium-4 columns'} %>
    </div>
    <div class="row">
      <%= f.input :fathers_name, wrapper_html: { class: 'medium-6 columns'} %>
      <%= f.input :mothers_name, wrapper_html: { class: 'medium-6 columns'} %>
    </div>
    <div class="row">
      <%= f.input :date_of_birth, as: :string, input_html: { class: "fdatepicker"}, wrapper_html: { class: 'medium-4 columns'}, data: { "date-format" => "DD-MM-YYYY" } %>
      <%= f.input :gender, collection: %w(Male Female Others), wrapper_html: { class: 'medium-4 columns'} %>
      <%= f.input :caste, collection: %w(GEN SC ST OBC-A OBC-B), wrapper_html: { class: 'medium-4 columns'} %>
    </div>
    <%= f.simple_fields_for :addresses do |ad| %>
      <h6>Address <%= ad.options[:child_index] + 1 %></h6>
      <div class="row">
        <%= ad.input :line1, wrapper_html: { class: 'medium-6 columns'}, label: "Address Line 1" %>
        <%= ad.input :line2, wrapper_html: { class: 'medium-6 columns'}, label: "Address Line 2" %>
      </div>
      <div class="row">
        <%= ad.input :city_village, wrapper_html: { class: 'medium-4 columns'} %>
        <%= ad.input :district, wrapper_html: { class: 'medium-4 columns'} %>
        <%= ad.input :state, wrapper_html: { class: 'medium-4 columns'} %>
      </div>
      <div class="row">
        <%= ad.input :country, as: :string, wrapper_html: { class: 'medium-6 columns'} %>
        <%= ad.input :pin, wrapper_html: { class: 'medium-6 columns'} %>
      </div>
      <div class="row">
        <%= ad.input :phone, wrapper_html: { class: 'medium-6 columns'} %>
        <%= ad.input :mobile, wrapper_html: { class: 'medium-6 columns'} %>
      </div>
    <% end %>
    <div class="row">
      <%= f.input :photo, as: :file, wrapper_html: { class: 'medium-12 columns' } %>
    </div>
    <%= f.button :submit %>
    <% end %>
  </div>
</div>
<script>
  $('.fdatepicker').fdatepicker();
</script>
