<nav class="top-bar" data-topbar role="navigation">
  <ul class="title-area">
    <li class="name">
      <h1><%= link_to fa_icon("university", text: "Admission"), root_path %></a></h1>
    </li> <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
    <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
  </ul>
  <section class="top-bar-section"> <!-- Right Nav Section -->
    <ul class="right">
      <% if candidate_signed_in? %>
        <li class="active"><a href="#"><%= link_to "New Perosnal", new_personal_path %></a></li>
      <% end %>
        <li class="has-dropdown"> <a href="#"><%= fa_icon "user" %></a>
        <ul class="dropdown">
          <% if candidate_signed_in? %>
            <li><%= link_to fa_icon("cogs", text: "Edit registration"),  edit_candidate_registration_path %></li>
            <li class="active"><%= link_to fa_icon("sign-out", text: "Sign out"), destroy_candidate_session_path, method: 'delete' %></li>
          <% end %>
        </ul>
      </li>
    </ul> <!-- Left Nav Section -->
    <ul class="left">
      <li class="active"><a href="/static_page/home">Start</a></li>
    </ul>
  </section>
</nav>
